/* Properties for other selectors */
* {
	padding: 0;
	margin: 0;
	color: pink;
}
  
.container {
	min-height: 100vh;
	background-color:bisque;
}
  
.letters {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	margin-bottom: 20px;
	text-transform:uppercase;
	font-size: 60px;
}
/* Step 1: Align the text to center */
.container .letters p {
  text-align: center;
}

/* Step 2: Change the background color */
.container .letters p {
  background-color: rgb(250, 150, 100);
}

/* Step 3: Assign the width */
.container .letters p {
  width: 70px;
}

/* Step 4: Assign margin-right */
.container .letters p {
  margin-right: 1.5px;
}

/* Step 5: Change the radius of the border */
.container .letters p {
  border-radius: 15%;
}

/* Step 6: Change the border color */
.container .letters p {
  border-color: rgb(250, 125, 75);
}

/* Step 7: Change the border style */
.container .letters p {
  border-style: solid;
}

/* Step 8: Add a transformation for even nth-child */
.container .letters:hover p:nth-child(even) {
  transform: rotateY(720deg);
  transition: 0.5s;
}

/* Step 9: Add a transformation for odd nth-child */
.container .letters:hover p:nth-child(odd) {
  transform: rotateX(720deg);
  transition: 1.5s;
}


/* Add rules for the element 'p' present inside the class 'letters' using descendant selector */


/* Add rules for steps 8 and 9 */


/* Add rules for steps 10 and 11 */